<aside class="admin-sidebar" aria-label="Navigation admin">
  <div class="brand-block">
    <h2>Curator</h2>
    <p>Administration & Supervision</p>
  </div>

  <nav class="menu-block">
    <a
      routerLink="/admin/dashboard"
      routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="menu-item">
      <span class="material-symbols-outlined">space_dashboard</span>
      <span>Dashboard</span>
    </a>

    <a
      routerLink="/admin/audit"
      routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="menu-item">
      <span class="material-symbols-outlined">fact_check</span>
      <span>Audit des Notes</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <button class="logout-side-btn" type="button" (click)="onLogout()">
      <span class="material-symbols-outlined">logout</span>
      <span>Déconnexion</span>
    </button>
  </div>
</aside>
